
.inputContainer{
    position: relative;
    padding-bottom: 18px;
    width: 250px;
}

.inputContainer input{
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: white;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    transition: 0.5s;
}
.inputContainer .inputPlaceholder{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.25);
    text-transform:capitalize;
    transition: 0.5s;
}

.inputContainer input:valid ~ .inputPlaceholder,
.inputContainer input:focus ~ .inputPlaceholder{
    color: #ef5223;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.70em;
    padding: 0 8px;
    background: white;
    border-left: 1px solid #ef5223;
    border-right: 1px solid #ef5223;
    letter-spacing: 0.15em;
}

.inputContainer input:valid,
.inputContainer input:focus{
    border: 1px solid #ef5223;
}

.inputError{
    position: absolute;
    color: #f44336;
    left: 0;
    bottom: 0;
    font-size: 0.85em;
}

.inputError::before{
    content: '* ';
}