.dashboardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.dashboardGraphics{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphicsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}