.notFoundContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title-level-1{
    font-size: 3em;
}
.title-level-2{
    font-size: 1em;
}
.title-level-3{
    font-size: 1em;
    color: gray;
}